apiVersion: apps/v1
kind: Deployment
metadata:
  name: springproject-deployment
  labels:
    app: springproject
spec:
  replicas: 2  # Nombre de pods
  selector:
    matchLabels:
      app: springproject
  template:
    metadata:
      labels:
        app: springproject
    spec:
      containers:
        - name: springproject
          image: nsiriaziz/springproject:latest
          ports:
            - containerPort: 8080
          env:
            - name: JAVA_OPTS
              value: "-Xmx512m -Xms256m"
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 60
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 5